.intro {
  font-style: italic;
}
.author {
  color: red;
  font-size: 12px;
}
body{
  background-color: #17261B;
  color: white;
}
p.author {
  font-size: 12px;
}
h1.myheading{
  text-align: center;
  background-color: #04261B;
  padding:3em;
  color: white;
}
